<div layout="column" class="editable" ng-class="{ 'editing': editingItem === heading, 'locked': item.settings.locked }" ng-click="setEditingItem(item, section, $event)">
    <div layout="row" layout-align="center center">
        <:..drag-handle class="item-drag-handle editing-ui" as-sortable-item-handle ng-mousedown="setEditingItem(item, section, $event)"></:..drag-handle>
    </div>
    <md-input-container class="big" md-no-float>
        <input ng-model="heading.title" ng-focus="setEditingItem(heading, $event)" placeholder="Title">
    </md-input-container>

    <md-input-container class="small" md-no-float>
        <input ng-model="heading.description" ng-focus="setEditingItem(heading, $event)" placeholder="Description">
    </md-input-container>

    <div layout="row" class="editing-ui" layout-align="end center" layout-padding ng-if="!item.settings.locked">
            <md-button class="md-icon-button" ng-click="deleteItem(item)">
                <md-icon><i class="material-icons">delete</i></md-icon>
            </md-button>
        </div>
</div>
