<div class="md-whiteframe-z1 editing-menu" layout="row" layout-gt-sm="column" layout-align="start center">
    <md-button class="md-icon-button" ng-click="addNewQuestion()">
        <md-tooltip md-direction="right">
            <span translate=":createNewQuestion">Add new question</span>
        </md-tooltip>
        <md-icon>
            <i class="material-icons">add_circle</i>
        </md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="addNewHeading()">
        <md-tooltip md-direction="right">
            <span translate=":createNewHeading">Add new heading</span>
        </md-tooltip>
        <md-icon>
            <i class="material-icons">text_fields</i>
        </md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="addNewSection()">
        <md-tooltip md-direction="right">
            <span translate=":createNewSection">Add new section</span>
        </md-tooltip>
        <md-icon>
            <i class="material-icons">view_agenda</i>
        </md-icon>
    </md-button>
</div>