<div>
    <:editing-menu></:editing-menu>

    <md-content class="page md-whiteframe-z1" flex>
        <div as-sortable="sortable.options" ng-model="form.items">
            <div as-sortable-item ng-repeat="item in form.items">
                <:heading ng-init="heading=item" ng-if="item.type === 'heading'">
                </:heading>
                <:question ng-init="question=item.question" ng-if="item.type === 'question'">
                </:question>
            </div>
        </div>
    </md-content>
</div>
