<div>
    <:editing-menu></:editing-menu>

    <md-content ng-repeat="section in getSections()" class="page md-whiteframe-z1" flex ng-click="setEditingItem(null, section, $event)">
        <div as-sortable="sortable.options" ng-model="section.items">
            <div as-sortable-item ng-repeat="item in section.items">
                <:heading ng-init="heading=item" ng-if="item.type === 'heading'">
                </:heading>
                <:question ng-init="question=item.question" ng-if="item.type === 'question'">
                </:question>
            </div>
        </div>
    </md-content>
</div>
